@import "./variables.scss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;

  background-color: $body-color;
  cursor: url("../images/cursor.png") 4 1, pointer;

  color: $accent-color;
}

button {
  border: none;
  cursor: inherit;
}

// Стили для карточек
.type-1 {
  background: #7faa65;
  &::after {
    background: rgba(184, 217, 152, 0.35);
  }
}

.type-2 {
  background: #aa9765;

  &::after {
    background: rgba(217, 187, 152, 0.35);
  }
}

.type-3 {
  background: #656caa;

  &::after {
    background: rgba(116, 129, 237, 0.35);
  }
}
