@import "./variables.scss";

body {
  background-color: $body-color;
  cursor: url("../images/cursor.png") 4 1, pointer;

  color: $accent-color;
}

button {
  border: none;
  cursor: inherit;
}

// Стили для карточек
.type-1 {
  background: #7faa65;
  &::after {
    background: rgba(184, 217, 152, 0.35);
  }
}

.type-2 {
  background: #aa9765;

  &::after {
    background: rgba(217, 187, 152, 0.35);
  }
}

.type-3 {
  background: #656caa;

  &::after {
    background: rgba(116, 129, 237, 0.35);
  }
}
